:root{
     /* --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px; */

/* Fonts */
    --ff-primary: 'Playfair Display', serif;
    --ff-secondary: 'Open Sans', sans-serif;
    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-secondary);
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;

    /* Colors */
    --clr-titles: #000;
    --clr-words: #b3b3b3;
    --clr-links: #ff7a5c;
    --clr-white: #fff;
/*
    70 h2 900
    50 h2 500
    30
    22 h3 500
    20 h3 500
    20 p 300
    18 h4
    16 a 600
    14 700(button)*/
}
/* General styles */

/* Header */
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
  }

/* Main */
/* Video-home */
.video-home{
    object-fit: cover;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    max-width: none;
    height: 100vh;   /*56.25vw; */
    min-height: 100%;
    min-width: 100%;
   }

.container-video {
   height: 100vh;

   }

.container-video-text{
    background-color: rgba(0,0,0,.6);
    position: absolute; 
    height: 100vh;
    
}

/* Button */
.reserve-button {
    border: 2px solid #fff;
    background: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 14px;
    font-weight: 700;
}

.reserve-button:hover{
 color: var(--clr-links);
 border: 2px solid var(--clr-links);

}


#footer {
    
}