:root {
   /* Fonts */
    --ff-primary: 'Playfair Display', serif;
    --ff-secondary: 'Open Sans', sans-serif;
    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-secondary);
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;

    /* Colors */
    --clr-titles: #000;
    --clr-words: #b3b3b3;
    --clr-links: #ff7a5c;
    --clr-white: #fff;
   
}
/* General styles */
body {
    font-family: var(--ff-primary);
}

/* Header */
.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}
.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

/* Main */
/* Video-home */
.video-home {
    object-fit: cover;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    max-width: none;
    height: 100vh;
    /*56.25vw; */
    min-height: 100%;
    min-width: 100%;
}

.container-video {
    height: 100vh;

}

.container-video-text {
    background-color: rgba(0,0,0,.6);
    position: absolute;
    height: 100vh;

}

/* Button */
.reserve-button {
    border: 2px solid #fff;
    background: none;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 14px;
    font-weight: 700;
}

.reserve-button:hover {
    color: var(--clr-links);
    border: 2px solid var(--clr-links);

}

/* text styles */
h1 {
    font-family: var(--ff-primary);

}
h5 {
    font-family: var(--ff-heading);

}

p {
    font-family: var(--ff-body);

}
a {
    font-family: var(--ff-body);
    font-weight: var(--fw-light);
    font-size: 16px;
}

#karma-text {
    font-family: var(--ff-heading);
    letter-spacing: 10px;

}

.drop {
    font-family: var(--ff-body);
    font-weight: var(--fw-light);
    font-size: 16px;
}


