   /* Video styles */
   

   .video-about-us{
    object-fit: cover;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    max-width: none;
    height: 56.25vw;
    min-height: 100%;
    min-width: 100%;
   }
   

/* Redes */

.face{ 
    background-image: url(/Imagenes/icon/fbook.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 2% ;
    height: 2%;
    margin-left: 10px;
}
.insta{
    background-image: url(/Imagenes/icon/insta.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    width: 2% ;
    height: 2%;

}
.twitter{
    background-image: url(/Imagenes/icon/twitter.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    width: 2% ;
    height: 2%;


}

/* Footer */
#footer {
    margin-top: 10px;
}