:root {
    /* Fonts */
    --ff-primary: 'Playfair Display', serif;
    --ff-secondary: 'Open Sans', sans-serif;
    --ff-heading: var(--ff-primary);
    --ff-body: var(--ff-secondary);
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;

    /* Colors */
    --clr-titles: #000;
    --clr-words: #b3b3b3;
    --clr-links: #ff7a5c;
    --clr-white: #fff;
    
}

li {
    list-style: none;
}

/* text style */
a {
    font-family: var(--ff-heading);
    font-weight: var(--fw-light);
    font-size: 12px;
    text-decoration: none;
    color: var(--clr-links);
}

.subnav {
    text-decoration: none;
    color: var(--clr-links);
    font-size: 20px;

}
p {
    font-family: var(--ff-body);
    font-weight: var(--fw-light);
    
}

h4 {
    font-family: var(--ff-primary);
}
h5 {
    font-family: var(--ff-heading);

}
h1 {
    font-family: var(--ff-primary);
    font-weight: 500;
}

#karma-text {
    font-family: var(--ff-heading);
    letter-spacing: 10px;
}

.drop {
    font-family: var(--ff-body);
    font-weight: var(--fw-light);
    font-size: 16px;
}

/* Video styles */
.co-video {
    height: 550px;
}

.video-about-us {
    object-fit: contain;
    transform: translateX(-50%) translateY(-50%);
    width: auto;
    max-width: none;
    height: 56.25vw;
    min-height: 100%;
    min-width: 100%;
}
.row-videos {
    background-color: rgba(0,0,0,.6);
    position: absolute;
    height: 100%;

}

