:root{
    /* --breakpoint-xs: 0;
   --breakpoint-sm: 576px;
   --breakpoint-md: 768px;
   --breakpoint-lg: 992px;
   --breakpoint-xl: 1200px; */

/* Fonts */
   --ff-primary: 'Playfair Display', serif;
   --ff-secondary: 'Open Sans', sans-serif;
   --ff-heading: var(--ff-primary);
   --ff-body: var(--ff-secondary);
   --fw-light: 300;
   --fw-regular: 400;
   --fw-medium: 500;
   --fw-semi-bold: 600;

   /* Colors */
   --clr-titles: #000;
   --clr-words: #b3b3b3;
   --clr-links: #ff7a5c;
   --clr-white: #fff;
/*
   70 h2 900
   50 h2 500
   30
   22 h3 500
   20 h3 500
   20 p 300
   18 h4
   16 a 600
   14 700(button)*/
}


/* Nav bar menu */

.nav-menu-lis {
    text-decoration: none;
    list-style: none;
}


.menu-img{
    width: 100px;
    margin-bottom: 20px;
    border-radius: 7px;
    float: left;
    margin-right: 30px;
}


/* Photos */
.Vegansan{
    height: 36.5vh;
}
.nochicken {
    height: 36.5vh
}
.food-imag{
    height: 36.5vh
   
}

/* text style */
p {
    font-family: var(--ff-body);
    font-weight: var(--fw-light);
}

h4 {
    font-family: var(--ff-primary);
}

h1{
    font-family: var(--ff-primary);
     font-weight: 500;;
}